.grid {
  display: grid;
  grid-template-rows: 150px auto auto 100px;
  grid-template-columns: repeat(10, 10%);
}

.grid > .header {
  grid-column:1 / 11;
  grid-row:1 / 2;
  text-align: left;
}

.grid > .nav {
  grid-column:1 / 11;
  grid-row:2 / 3;
}

.grid > .content {
  grid-column:4/11;
  grid-row:3 / 5;
  text-align: left;
}

.grid > .aside {
  grid-column:1 / 4;
  grid-row:3 /5;
  text-align: left;
}

.grid > .footer {
  grid-column: 1 / 11;
  grid-row:5 / 6;
}
